@import 'fonts.css'; /* for custom fonts */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		@apply font-body antialiased;
	}

	[x-cloak] {
		@apply !hidden;
	}

	.hide-scrollbar {
		-ms-overflow-style: none;
		scrollbar-width: none;

		&::-webkit-scrollbar {
			display: none;
		}
	}

	select {
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor'%3E%3Cpath d='M12 16L6 10H18L12 16Z'%3E%3C/path%3E%3C/svg%3E");
	}
}

@layer components {
	.btn {
		@apply transition-colors duration-300 ease-linear;
	}

	.btn-primary {
	}
}
