---

---

<div
	class='relative'
	x-data='{ isFormOpen: false, menuAtBottom: false, }'>
	<div class='relative pt-12'>
		<div
			class='absolute inset-0 z-20 h-full w-full bg-[linear-gradient(180deg,#1A1A1AE6_0%,#1A1A1AB2_33%,#1A1A1A9A_48%,#1A1A1A80_69%,#ffffff_100%)]'>
		</div>
		<img
			src='/img/bg-hero.jpg'
			class='absolute inset-0 z-10 h-full w-full bg-top object-cover'
			alt=''
		/>
		<div class='container relative z-30 px-0 pt-5'>
			<a
				href='/'
				class='block pb-28'>
				<img
					src='/img/logo.svg'
					class='mx-auto'
					alt=''
				/>
			</a>
			<h1 class='text-center text-[28px] font-bold text-white'>CrewCard</h1>
			<p class='text-center text-[15px] text-white'>Die Vorteilskarte mit vielfältigen Benefits</p>
		</div>
		<div class='relative z-30 flex justify-center pb-8'>
			<div class='hide-scrollbar relative overflow-auto'>
				<div class='flex w-max justify-center gap-2.5 whitespace-nowrap px-4 pb-3 pt-20 sm:w-auto'>
					<div class='shrink-0 rounded-lg shadow-[0px_0px_5px_rgba(0,0,0,0.1)]'>
						<div class='rounded-t-lg bg-[#EA9304] px-9 py-5 xs:px-10'>
							<img
								src='/img/login-small.svg'
								class='mx-auto h-7 xs:h-8'
								alt=''
							/>
						</div>
						<div
							class='rounded-b-lg bg-[#EA9304] bg-gradient-to-l from-[#1A1A1A1A] py-2 text-center text-xs font-bold text-white'>
							Anmelden
						</div>
					</div>
					<div class='shrink-0 rounded-lg shadow-[0px_0px_5px_rgba(0,0,0,0.1)]'>
						<div class='rounded-t-lg bg-white px-9 py-5 xs:px-10'>
							<img
								src='/img/benefits.svg'
								class='mx-auto h-7 xs:h-8'
								alt=''
							/>
						</div>
						<div
							class='rounded-b-lg bg-white bg-gradient-to-l from-[#1A1A1A1A] py-2 text-center text-xs font-bold text-[#1a1a1a]'>
							Vorteile
						</div>
					</div>
					<div class='shrink-0 rounded-lg shadow-[0px_0px_5px_rgba(0,0,0,0.1)]'>
						<div class='rounded-t-lg bg-white px-9 py-5 xs:px-10'>
							<img
								src='/img/FAQ.svg'
								class='mx-auto h-7 xs:h-8'
								alt=''
							/>
						</div>
						<div
							class='rounded-b-lg bg-white bg-gradient-to-l from-[#1A1A1A1A] py-2 text-center text-xs font-bold text-[#1a1a1a]'>
							FAQ
						</div>
					</div>
					<div class='shrink-0 rounded-lg shadow-[0px_0px_5px_rgba(0,0,0,0.1)]'>
						<div class='rounded-t-lg bg-white px-9 py-5 xs:px-10'>
							<img
								src='/img/FAQ.svg'
								class='mx-auto h-7 xs:h-8'
								alt=''
							/>
						</div>
						<div
							class='rounded-b-lg bg-white bg-gradient-to-l from-[#1A1A1A1A] py-2 text-center text-xs font-bold text-[#1a1a1a]'>
							FAQ
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class='pb-10 pt-6'>
		<div
			class='px-0 pt-6'
			x-data={`
				{
					init() {
							document.addEventListener('DOMContentLoaded', () => {
								new Splide(this.$refs.splide, {
										perPage: 3,
										gap: '1rem',
										padding: {
											right: '20px'
										},
										breakpoints: {
											767: {
												perPage: 2,
											},
										},
								}).mount()
							})
					},
				}
			`}>
			<section
				class='splide ml-4'
				x-ref='splide'>
				<div class='flex justify-between border-b border-[#f3f3f3] px-0 pb-2'>
					<span class='shrink-0 text-xl font-extrabold text-[#1A1A1A]'>Informationen</span>
					<div class='splide__arrows splide__arrows--ltr relative right-0 z-[99] flex w-full justify-end'>
						<button
							class='splide__arrow splide__arrow--prev relative left-auto disabled:!opacity-30'
							type='button'
							aria-label='Previous slide'
							aria-controls='splide01-track'>
							<img
								src='/img/arrow-left.svg'
								class=''
								alt=''
							/>
						</button>
						<button
							class='splide__arrow splide__arrow--next relative right-auto disabled:!opacity-30'
							type='button'
							aria-label='Next slide'
							aria-controls='splide01-track'>
							<img
								src='/img/arrow-left.svg'
								class='rotate-180'
								alt=''
							/>
						</button>
					</div>
				</div>

				<div class='splide__track'>
					<ul class='splide__list px-4 pb-3'>
						<li class='splide__slide block rounded-lg'>
							<a
								href='/'
								class='block rounded-b shadow-[0px_2px_5px_rgba(0,0,0,0.1)]'>
								<img
									src='/img/information.jpeg'
									class='h-40 w-full rounded-t object-cover sm:h-[18rem] md:h-40'
									alt=''
								/>
								<span class='block rounded-b bg-white px-6 py-4'>
									<span class='text-[15px] font-bold text-[#1a1a1a]'>Informationen</span>
								</span>
							</a>
						</li>
						<li class='splide__slide block rounded-lg'>
							<a
								href='/'
								class='relative block rounded-b shadow-[0px_2px_5px_rgba(0,0,0,0.1)]'>
								<img
									src='/img/lock.svg'
									class='absolute right-3 top-2'
									alt=''
								/>
								<img
									src='/img/information.jpeg'
									class='h-40 w-full rounded-t object-cover sm:h-[18rem] md:h-40'
									alt=''
								/>
								<span class='block rounded-b bg-white px-6 py-4'>
									<span class='text-[15px] font-bold text-[#1a1a1a]'>Jobs</span>
								</span>
							</a>
						</li>
						<li class='splide__slide block rounded-lg'>
							<a
								href='/'
								class='block rounded-b shadow-[0px_2px_5px_rgba(0,0,0,0.1)]'>
								<img
									src='/img/information.jpeg'
									class='h-40 w-full rounded-t object-cover sm:h-[18rem] md:h-40'
									alt=''
								/>
								<span class='block rounded-b bg-white px-6 py-4'>
									<span class='text-[15px] font-bold text-[#1a1a1a]'>Informationen</span>
								</span>
							</a>
						</li>
						<li class='splide__slide block rounded-lg'>
							<a
								href='/'
								class='block rounded-b shadow-[0px_2px_5px_rgba(0,0,0,0.1)]'>
								<img
									src='/img/information.jpeg'
									class='h-40 w-full rounded-t object-cover sm:h-[18rem] md:h-40'
									alt=''
								/>
								<span class='block rounded-b bg-white px-6 py-4'>
									<span class='text-[15px] font-bold text-[#1a1a1a]'>Informationen</span>
								</span>
							</a>
						</li>
						<li class='splide__slide block rounded-lg'>
							<a
								href='/'
								class='relative block rounded-b shadow-[0px_2px_5px_rgba(0,0,0,0.1)]'>
								<img
									src='/img/lock.svg'
									class='absolute right-3 top-2'
									alt=''
								/>
								<img
									src='/img/information.jpeg'
									class='h-40 w-full rounded-t object-cover sm:h-[18rem] md:h-40'
									alt=''
								/>
								<span class='block rounded-b bg-white px-6 py-4'>
									<span class='text-[15px] font-bold text-[#1a1a1a]'>Jobs</span>
								</span>
							</a>
						</li>
						<li class='splide__slide block rounded-lg'>
							<a
								href='/'
								class='block rounded-b shadow-[0px_2px_5px_rgba(0,0,0,0.1)]'>
								<img
									src='/img/information.jpeg'
									class='h-40 w-full rounded-t object-cover sm:h-[18rem] md:h-40'
									alt=''
								/>
								<span class='block rounded-b bg-white px-6 py-4'>
									<span class='text-[15px] font-bold text-[#1a1a1a]'>Informationen</span>
								</span>
							</a>
						</li>
					</ul>
				</div>
			</section>
		</div>
	</div>

	<div class='pb-10'>
		<div class='container'>
			<div class='pb-8'>
				<h1 class='text-center text-[28px] font-bold text-[#1a1a1a]'>Deiner CrewCard</h1>
				<p class='text-center text-[15px] text-[#1a1a1a]'>Alle Vorteile im Überblick</p>
			</div>
			<div class='flex items-center justify-between border-b border-[#f3f3f3] pb-1.5'>
				<span class='text-xl font-extrabold text-[#1A1A1A]'>Erlebnisse</span>
				<span class='text-xs font-extrabold text-[#EA9304]'>Alle anzeigen</span>
			</div>
		</div>
		<div
			class='px-0 pt-6'
			x-data={`
			{
				init() {
						document.addEventListener('DOMContentLoaded', () => {
							new Splide(this.$refs['splide-big-2'], {
									perPage: 3,
									arrows: false,
									pagination: false,
									gap: '1rem',
									padding: {
										right: '20px'
									},
									breakpoints: {
										767: {
											perPage: 2,
										},
									},
							}).mount()
						})
				},
			}
		`}>
			<div
				x-ref='splide-big-2'
				class='splide pb-3'>
				<div class='splide__track'>
					<ul class='splide__list'>
						<div class='splide__slide rounded pl-4'>
							<a
								href='/'
								class='relative block rounded shadow-[0px_2px_5px_rgba(0,0,0,0.1)]'>
								<div
									class='absolute inset-0 z-20 h-full w-full rounded bg-[linear-gradient(180deg,#1D202598_0%,#2C2E334D_15%,#4F50534D_49%,#1D2025E6_100%)]'>
								</div>
								<span class='absolute z-30 block h-full w-full p-2.5'>
									<div class='flex h-full flex-col justify-between'>
										<span class='flex justify-end'>
											<span class='w-auto rounded-[25px] bg-[#EA9304] px-3.5 py-2 text-[15px] font-bold text-white'>
												-20%
											</span>
										</span>
										<div>
											<span class='block text-lg/[24px] font-extrabold text-white'>Skigebiet Obereggen</span>
											<p class='text-[13px] text-white'>Skifahren und rodeln unterm Latemar</p>
										</div>
									</div>
								</span>
								<img
									src='/img/adventure.jpg'
									class='h-72 w-full rounded object-cover'
									alt=''
								/>
							</a>
						</div>
						<div class='splide__slide rounded'>
							<a
								href='/'
								class='relative block rounded shadow-[0px_2px_5px_rgba(0,0,0,0.1)]'>
								<div
									class='absolute inset-0 z-20 h-full w-full rounded bg-[linear-gradient(180deg,#1D202598_0%,#2C2E334D_15%,#4F50534D_49%,#1D2025E6_100%)]'>
								</div>
								<span class='absolute z-30 block h-full w-full p-2.5'>
									<div class='flex h-full flex-col justify-between'>
										<span class='flex justify-end'>
											<span class='w-auto rounded-[25px] bg-[#EA9304] px-3.5 py-2 text-[15px] font-bold text-white'>
												-20%
											</span>
										</span>
										<div>
											<span class='block text-lg/[24px] font-extrabold text-white'>Skigebiet Obereggen</span>
											<p class='text-[13px] text-white'>Skifahren und rodeln unterm Latemar</p>
										</div>
									</div>
								</span>
								<img
									src='/img/adventure.jpg'
									class='h-72 w-full rounded object-cover'
									alt=''
								/>
							</a>
						</div>
						<div class='splide__slide rounded'>
							<a
								href='/'
								class='relative block rounded shadow-[0px_2px_5px_rgba(0,0,0,0.1)]'>
								<div
									class='absolute inset-0 z-20 h-full w-full rounded bg-[linear-gradient(180deg,#1D202598_0%,#2C2E334D_15%,#4F50534D_49%,#1D2025E6_100%)]'>
								</div>
								<span class='absolute z-30 block h-full w-full p-2.5'>
									<div class='flex h-full flex-col justify-between'>
										<span class='flex justify-end'>
											<span class='w-auto rounded-[25px] bg-[#EA9304] px-3.5 py-2 text-[15px] font-bold text-white'>
												-20%
											</span>
										</span>
										<div>
											<span class='block text-lg/[24px] font-extrabold text-white'>Skigebiet Obereggen</span>
											<p class='text-[13px] text-white'>Skifahren und rodeln unterm Latemar</p>
										</div>
									</div>
								</span>
								<img
									src='/img/adventure.jpg'
									class='h-72 w-full rounded object-cover'
									alt=''
								/>
							</a>
						</div>
						<div class='splide__slide rounded'>
							<a
								href='/'
								class='relative block rounded shadow-[0px_2px_5px_rgba(0,0,0,0.1)]'>
								<div
									class='absolute inset-0 z-20 h-full w-full rounded bg-[linear-gradient(180deg,#1D202598_0%,#2C2E334D_15%,#4F50534D_49%,#1D2025E6_100%)]'>
								</div>
								<span class='absolute z-30 block h-full w-full p-2.5'>
									<div class='flex h-full flex-col justify-between'>
										<span class='flex justify-end'>
											<span class='w-auto rounded-[25px] bg-[#EA9304] px-3.5 py-2 text-[15px] font-bold text-white'>
												-20%
											</span>
										</span>
										<div>
											<span class='block text-lg/[24px] font-extrabold text-white'>Skigebiet Obereggen</span>
											<p class='text-[13px] text-white'>Skifahren und rodeln unterm Latemar</p>
										</div>
									</div>
								</span>
								<img
									src='/img/adventure.jpg'
									class='h-72 w-full rounded object-cover'
									alt=''
								/>
							</a>
						</div>
						<div class='splide__slide rounded'>
							<a
								href='/'
								class='relative block rounded shadow-[0px_2px_5px_rgba(0,0,0,0.1)]'>
								<div
									class='absolute inset-0 z-20 h-full w-full rounded bg-[linear-gradient(180deg,#1D202598_0%,#2C2E334D_15%,#4F50534D_49%,#1D2025E6_100%)]'>
								</div>
								<span class='absolute z-30 block h-full w-full p-2.5'>
									<div class='flex h-full flex-col justify-between'>
										<span class='flex justify-end'>
											<span class='w-auto rounded-[25px] bg-[#EA9304] px-3.5 py-2 text-[15px] font-bold text-white'>
												-20%
											</span>
										</span>
										<div>
											<span class='block text-lg/[24px] font-extrabold text-white'>Skigebiet Obereggen</span>
											<p class='text-[13px] text-white'>Skifahren und rodeln unterm Latemar</p>
										</div>
									</div>
								</span>
								<img
									src='/img/adventure.jpg'
									class='h-72 w-full rounded object-cover'
									alt=''
								/>
							</a>
						</div>
						<div class='splide__slide rounded'>
							<a
								href='/'
								class='relative block rounded shadow-[0px_2px_5px_rgba(0,0,0,0.1)]'>
								<div
									class='absolute inset-0 z-20 h-full w-full rounded bg-[linear-gradient(180deg,#1D202598_0%,#2C2E334D_15%,#4F50534D_49%,#1D2025E6_100%)]'>
								</div>
								<span class='absolute z-30 block h-full w-full p-2.5'>
									<div class='flex h-full flex-col justify-between'>
										<span class='flex justify-end'>
											<span class='w-auto rounded-[25px] bg-[#EA9304] px-3.5 py-2 text-[15px] font-bold text-white'>
												-20%
											</span>
										</span>
										<div>
											<span class='block text-lg/[24px] font-extrabold text-white'>Skigebiet Obereggen</span>
											<p class='text-[13px] text-white'>Skifahren und rodeln unterm Latemar</p>
										</div>
									</div>
								</span>
								<img
									src='/img/adventure.jpg'
									class='h-72 w-full rounded object-cover'
									alt=''
								/>
							</a>
						</div>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class='pb-10'>
		<div class='container'>
			<div class='flex items-center justify-between border-b border-[#f3f3f3] pb-1.5'>
				<span class='text-xl font-extrabold text-[#1A1A1A]'>Aktivitäten & Events</span>
				<span class='text-xs font-extrabold text-[#EA9304]'>Alle anzeigen</span>
			</div>
		</div>
		<div
			class='px-0 pt-6'
			x-data={`
			{
				init() {
						document.addEventListener('DOMContentLoaded', () => {
							new Splide(this.$refs['splide-big-1'], {
									perPage: 3,
									arrows: false,
									pagination: false,
									gap: '1rem',
									padding: {
										right: '20px'
									},
									breakpoints: {
										767: {
											perPage: 2,
										},
									},
							}).mount()
						})
				},
			}
		`}>
			<div
				x-ref='splide-big-1'
				class='splide pb-3'>
				<div class='splide__track'>
					<ul class='splide__list'>
						<li class='splide__slide pl-4'>
							<a
								href='/'
								class='relative block rounded shadow-[0px_2px_5px_rgba(0,0,0,0.1)]'>
								<div
									class='absolute inset-0 z-20 h-full w-full rounded bg-[linear-gradient(180deg,#1D202598_0%,#2C2E334D_15%,#4F50534D_49%,#1D2025E6_100%)]'>
								</div>
								<span class='absolute z-30 block h-full w-full p-2.5'>
									<div class='flex h-full flex-col justify-between'>
										<span class='pt-0 xs:pt-3'>
											<span class='w-auto text-[15px] font-bold text-white'> Donnerstag, 04.04</span>
										</span>
										<div>
											<span class='block text-lg/[24px] font-extrabold text-white'>Lamawanderung</span>
											<span class='block pb-0 text-[13px] font-bold text-[#FFFFFF98] xs:pb-1'>16:00-17:00</span>
											<p class='text-[13px] text-white'>Ortschaft</p>
										</div>
									</div>
								</span>
								<img
									src='/img/events.jpeg'
									class='h-72 w-full rounded object-cover'
									alt=''
								/>
							</a>
						</li>
						<li class='splide__slide'>
							<a
								href='/'
								class='relative block rounded shadow-[0px_2px_5px_rgba(0,0,0,0.1)]'>
								<div
									class='absolute inset-0 z-20 h-full w-full rounded bg-[linear-gradient(180deg,#1D202598_0%,#2C2E334D_15%,#4F50534D_49%,#1D2025E6_100%)]'>
								</div>
								<span class='absolute z-30 block h-full w-full p-2.5'>
									<div class='flex h-full flex-col justify-between'>
										<span class='pt-0 xs:pt-3'>
											<span class='w-auto text-[15px] font-bold text-white'> Donnerstag, 04.04</span>
										</span>
										<div>
											<span class='block text-lg/[24px] font-extrabold text-white'>Lamawanderung</span>
											<span class='block pb-0 text-[13px] font-bold text-[#FFFFFF98] xs:pb-1'>16:00-17:00</span>
											<p class='text-[13px] text-white'>Ortschaft</p>
										</div>
									</div>
								</span>
								<img
									src='/img/events.jpeg'
									class='h-72 w-full rounded object-cover'
									alt=''
								/>
							</a>
						</li>
						<li class='splide__slide'>
							<a
								href='/'
								class='relative block rounded shadow-[0px_2px_5px_rgba(0,0,0,0.1)]'>
								<div
									class='absolute inset-0 z-20 h-full w-full rounded bg-[linear-gradient(180deg,#1D202598_0%,#2C2E334D_15%,#4F50534D_49%,#1D2025E6_100%)]'>
								</div>
								<span class='absolute z-30 block h-full w-full p-2.5'>
									<div class='flex h-full flex-col justify-between'>
										<span class='pt-0 xs:pt-3'>
											<span class='w-auto text-[15px] font-bold text-white'> Donnerstag, 04.04</span>
										</span>
										<div>
											<span class='block text-lg/[24px] font-extrabold text-white'>Lamawanderung</span>
											<span class='block pb-0 text-[13px] font-bold text-[#FFFFFF98] xs:pb-1'>16:00-17:00</span>
											<p class='text-[13px] text-white'>Ortschaft</p>
										</div>
									</div>
								</span>
								<img
									src='/img/events.jpeg'
									class='h-72 w-full rounded object-cover'
									alt=''
								/>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class='pb-4'>
		<div class='container'>
			<div class='flex items-center justify-between border-b border-[#f3f3f3] pb-1.5'>
				<span class='text-xl font-extrabold text-[#1A1A1A]'>News</span>
				<span class='text-xs font-extrabold text-[#EA9304]'>Alle anzeigen</span>
			</div>
		</div>
		<div
			class='px-0 pt-6'
			x-data={`
		{
			init() {
					document.addEventListener('DOMContentLoaded', () => {
						new Splide(this.$refs['splide-big-3'], {
								perPage: 3,
								arrows: false,
								pagination: false,
								gap: '1rem',
								padding: {
									right: '20px'
								},
								breakpoints: {
									767: {
										perPage: 2,
									},
								},
						}).mount()
					})
			},
		}
	`}>
			<div
				x-ref='splide-big-3'
				class='splide pb-3'>
				<div class='splide__track'>
					<ul class='splide__list'>
						<li class='splide__slide pl-4'>
							<a
								href='/'
								class='relative block rounded shadow-[0px_2px_5px_rgba(0,0,0,0.1)]'>
								<div
									class='absolute inset-0 z-20 h-full w-full rounded bg-[linear-gradient(180deg,#1D202598_0%,#2C2E334D_15%,#4F50534D_49%,#1D2025E6_100%)]'>
								</div>
								<span class='absolute z-30 block h-full w-full p-2.5'>
									<div class='flex h-full items-end'>
										<div>
											<span class='block text-lg/[24px] font-extrabold text-white'
												>Sanft Mobiles Dolomiten-Erlebnis</span
											>
											<p class='text-[13px] text-white'>Die Dolomiten sanft mobil erleben</p>
										</div>
									</div>
								</span>
								<img
									src='/img/news.jpeg'
									class='h-72 w-full rounded object-cover'
									alt=''
								/>
							</a>
						</li>
						<li class='splide__slide'>
							<a
								href='/'
								class='relative block rounded shadow-[0px_2px_5px_rgba(0,0,0,0.1)]'>
								<div
									class='absolute inset-0 z-20 h-full w-full rounded bg-[linear-gradient(180deg,#1D202598_0%,#2C2E334D_15%,#4F50534D_49%,#1D2025E6_100%)]'>
								</div>
								<span class='absolute z-30 block h-full w-full p-2.5'>
									<div class='flex h-full items-end'>
										<div>
											<span class='block text-lg/[24px] font-extrabold text-white'>Carezza All Family</span>
											<p class='text-[13px] text-white'>Die Dolomiten sanft mobil erleben</p>
										</div>
									</div>
								</span>
								<img
									src='/img/news.jpeg'
									class='h-72 w-full rounded object-cover'
									alt=''
								/>
							</a>
						</li>
						<li class='splide__slide'>
							<a
								href='/'
								class='relative block rounded shadow-[0px_2px_5px_rgba(0,0,0,0.1)]'>
								<div
									class='absolute inset-0 z-20 h-full w-full rounded bg-[linear-gradient(180deg,#1D202598_0%,#2C2E334D_15%,#4F50534D_49%,#1D2025E6_100%)]'>
								</div>
								<span class='absolute z-30 block h-full w-full p-2.5'>
									<div class='flex h-full items-end'>
										<div>
											<span class='block break-all text-lg/[24px] font-extrabold text-white'>Carezza All Family</span>
											<p class='text-[13px] text-white'>Die Dolomiten sanft mobil erleben</p>
										</div>
									</div>
								</span>
								<img
									src='/img/news.jpeg'
									class='h-72 w-full rounded object-cover'
									alt=''
								/>
							</a>
						</li>
						<li class='splide__slide pl-4'>
							<a
								href='/'
								class='relative block rounded shadow-[0px_2px_5px_rgba(0,0,0,0.1)]'>
								<div
									class='absolute inset-0 z-20 h-full w-full rounded bg-[linear-gradient(180deg,#1D202598_0%,#2C2E334D_15%,#4F50534D_49%,#1D2025E6_100%)]'>
								</div>
								<span class='absolute z-30 block h-full w-full p-2.5'>
									<div class='flex h-full items-end'>
										<div>
											<span class='block text-lg/[24px] font-extrabold text-white'
												>Sanft Mobiles Dolomiten-Erlebnis</span
											>
											<p class='text-[13px] text-white'>Die Dolomiten sanft mobil erleben</p>
										</div>
									</div>
								</span>
								<img
									src='/img/news.jpeg'
									class='h-72 w-full rounded object-cover'
									alt=''
								/>
							</a>
						</li>
						<li class='splide__slide'>
							<a
								href='/'
								class='relative block rounded shadow-[0px_2px_5px_rgba(0,0,0,0.1)]'>
								<div
									class='absolute inset-0 z-20 h-full w-full rounded bg-[linear-gradient(180deg,#1D202598_0%,#2C2E334D_15%,#4F50534D_49%,#1D2025E6_100%)]'>
								</div>
								<span class='absolute z-30 block h-full w-full p-2.5'>
									<div class='flex h-full items-end'>
										<div>
											<span class='block text-lg/[24px] font-extrabold text-white'>Carezza All Family</span>
											<p class='text-[13px] text-white'>Die Dolomiten sanft mobil erleben</p>
										</div>
									</div>
								</span>
								<img
									src='/img/news.jpeg'
									class='h-72 w-full rounded object-cover'
									alt=''
								/>
							</a>
						</li>
						<li class='splide__slide'>
							<a
								href='/'
								class='relative block rounded shadow-[0px_2px_5px_rgba(0,0,0,0.1)]'>
								<div
									class='absolute inset-0 z-20 h-full w-full rounded bg-[linear-gradient(180deg,#1D202598_0%,#2C2E334D_15%,#4F50534D_49%,#1D2025E6_100%)]'>
								</div>
								<span class='absolute z-30 block h-full w-full p-2.5'>
									<div class='flex h-full items-end'>
										<div>
											<span class='block break-all text-lg/[24px] font-extrabold text-white'>Carezza All Family</span>
											<p class='text-[13px] text-white'>Die Dolomiten sanft mobil erleben</p>
										</div>
									</div>
								</span>
								<img
									src='/img/news.jpeg'
									class='h-72 w-full rounded object-cover'
									alt=''
								/>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<!-- form -->
	<div
		class='fixed inset-0 z-[100] h-full w-full overflow-auto bg-[#f9f9f9]'
		:class="isFormOpen ? 'block' : 'hidden'">
		<div class='bg-white'>
			<div class='container relative py-4'>
				<button @click='isFormOpen = false'>
					<img
						src='/img/arrow-left.svg'
						class='absolute left-4 top-10 h-5'
						alt=''
					/>
					<span class='sr-only'>Back button</span>
				</button>
				<span class='block text-center text-xl font-extrabold text-[#1a1a1a]'>Kartenaktivierung</span>
			</div>
		</div>
		<div class='container'>
			<form class='pt-8'>
				<h2 class='border-b border-[#1A1A1A0D] pb-1.5 text-xl font-extrabold text-[#1a1a1a]'>
					Aktiviere deine CrewCard
				</h2>
				<div class='space-y-4 py-8'>
					<div class='relative'>
						<span class='absolute -top-2 left-4 z-20 block bg-[#f9f9f9] px-1.5 text-xs text-[#1A1A1A4D]'
							>Kartencode</span
						>
						<input
							type='text'
							class='w-full rounded border border-[#e8e8e8] bg-[#f9f9f9] px-5 py-5'
							placeholder='EGCCYA8FLMO'
						/>
					</div>
					<div class='relative'>
						<span class='absolute -top-2 left-4 z-20 block bg-[#f9f9f9] px-1.5 text-xs text-[#1A1A1A4D]'
							>Art des Vertrages</span
						>
						<select
							name='art'
							id='art'
							class='w-full rounded border border-[#e8e8e8] bg-[#f9f9f9] px-5 py-5'>
							<option value='Jahresvertrag'>Jahresvertrag</option>
							<option value='lemon'>lemon</option>
						</select>
					</div>
					<input
						type='text'
						class='w-full rounded border border-[#e8e8e8] bg-[#f9f9f9] px-5 py-5'
						placeholder='Vorname'
					/>
					<input
						type='text'
						class='w-full rounded border border-[#e8e8e8] bg-[#f9f9f9] px-5 py-5'
						placeholder='Nachname'
					/>
					<input
						type='email'
						class='w-full rounded border border-[#e8e8e8] bg-[#f9f9f9] px-5 py-5'
						placeholder='E-Mail'
					/>
					<input
						type='email'
						class='w-full rounded border border-[#e8e8e8] bg-[#f9f9f9] px-5 py-5'
						placeholder='E-Mail wiederholen'
					/>
					<input
						type='password'
						class='w-full rounded border border-[#e8e8e8] bg-[#f9f9f9] px-5 py-5'
						placeholder='Passwort'
					/>
					<input
						type='password'
						class='w-full rounded border border-[#e8e8e8] bg-[#f9f9f9] px-5 py-5'
						placeholder='Passwort wiederholen'
					/>
				</div>
				<div>
					<h2 class='border-b border-[#1A1A1A0D] pb-1.5 text-xl font-extrabold text-[#1a1a1a]'>Profilbild</h2>
					<div class='mt-8 border border-dashed border-[#e8e8e8] px-8 py-12 text-center'>
						<span class='block pb-2 text-[15px] text-[#1a1a1a]'>Bild hier ablegen</span>
						<span class='block pb-2 text-[13px] text-[#1A1A1A4D]'>oder</span>
						<span class='inline-block w-auto rounded-[25px] bg-[#EA9304] px-4 py-2 text-[15px] font-bold text-white'>
							Bild auswählen
						</span>
					</div>
				</div>
				<div class='space-y-4 pb-14 pt-8'>
					<div class='flex'>
						<input
							id='checkbox'
							type='checkbox'
							class='input-checkbox mt-[2px] h-4 w-4 rounded border border-[#e8e8e8] bg-[#f9f9f9] text-blue-600 focus:ring-2 focus:ring-blue-500'
						/>
						<span
							for='checkbox'
							class='ms-2 text-[13px] text-sm font-medium text-gray-900 dark:text-gray-300'
							>Ich habe die <a
								href='/'
								class='underline'
								>AGBs</a
							> gelesen und akzeptiere sie</span
						>
					</div>
					<div class='flex'>
						<input
							id='checkbox'
							type='checkbox'
							class='input-checkbox mt-[2px] h-4 w-4 rounded border border-[#e8e8e8] bg-[#f9f9f9] text-blue-600 focus:ring-2 focus:ring-blue-500'
						/>
						<span
							for='checkbox'
							class='ms-2 text-[13px] text-sm font-medium text-gray-900 dark:text-gray-300'
							>Ich habe die <a
								href='/'
								class='underline'
								>Datenschutzerklärung
							</a> gelesen und stimme dieser zu.</span
						>
					</div>
					<div class='flex'>
						<input
							id='checkbox'
							type='checkbox'
							class='input-checkbox mt-[2px] h-4 w-4 rounded border border-[#e8e8e8] bg-[#f9f9f9] text-blue-600 focus:ring-2 focus:ring-blue-500'
						/>
						<span
							for='checkbox'
							class='ms-2 text-[13px] text-sm font-medium text-gray-900 dark:text-gray-300'
							>Newsletter abonnieren. Unsere Datenschutzerklärung findest du <a
								href='/'
								class='underline'
								>hier.</a
							></span
						>
					</div>
				</div>
				<button
					class='flex w-full items-center justify-center gap-2 rounded bg-[#EA9304] py-3 text-lg font-extrabold text-white md:mx-auto md:w-1/2'>
					Karte aktivieren
				</button>
				<a
					href='/'
					class='flex justify-center gap-1 pt-10 text-[13px] font-bold text-[#1a1a1a]'
					>Karte bereits aktiviert? <span class='block text-[#EA9304]'>Hier anmelden.</span></a
				>
			</form>
		</div>
	</div>

	<!-- sticky button -->
	<div
		class='fixed inset-x-4 bottom-3 z-[99]'
		x-show='!menuAtBottom'
		x-transition
		@scroll.window='menuAtBottom = (window.innerHeight + window.pageYOffset >= document.body.offsetHeight - 100)'>
		<button
			@click='isFormOpen = true'
			class='flex w-full items-center justify-center gap-2 rounded bg-[#EA9304] py-3 text-lg font-extrabold text-white md:mx-auto md:w-1/2'>
			Karte aktivieren
			<img
				src='/img/activate.svg'
				alt=''
			/>
		</button>
	</div>
</div>
