<div class='container absolute z-50 pb-6 pt-3'>
	<div class='flex justify-end gap-2'>
		<span class='text-xs font-bold text-white'>Anmelden</span>
		<img
			src='/img//login-small.svg'
			alt=''
		/>
	</div>
</div>
